# Getting Financial Data - Google Finance

### Introduction:

This time you will get data from a website.


### Step 1. Import the necessary libraries

In [11]:
import pandas as pd

# package to extract data from various Internet sources into a DataFrame
# make sure you have it installed
from pandas_datareader import data, wb
import pandas_datareader.data as web

# package for dates
import datetime as dt

### Step 2. Create your time range (start and end variables). The start date should be 01/01/2015 and the end should today (whatever your today is)

In [7]:
start = dt.datetime(2015, 1, 1)

end = dt.datetime.today()

start

datetime.datetime(2015, 1, 1, 0, 0)

### Step 3. Select the Apple, Tesla, Twitter, IBM, LinkedIn stocks symbols and assign them to a variable called stocks

In [8]:
stocks = ['AAPL', 'TSLA', 'IBM', 'LNKD']

### Step 4. Read the data from google, assign to df and print it

In [13]:
df = web.DataReader(stocks, 'google', start, end)
df

C:\Users\jorge.m\AppData\Local\Continuum\anaconda2\lib\site-packages\pandas_datareader-0.6.0-py2.7.egg\pandas_datareader\google\daily.py:40: UnstableAPIWarning:
The Google Finance API has not been stable since late 2017. Requests seem
to fail at random. Failure is especially common when bulk downloading.

  warnings.warn(UNSTABLE_WARNING, UnstableAPIWarning)

<class 'pandas.core.panel.Panel'>
Dimensions: 5 (items) x 808 (major_axis) x 4 (minor_axis)
Items axis: Open to Volume
Major_axis axis: 2015-01-02 00:00:00 to 2018-02-16 00:00:00
Minor_axis axis: AAPL to TSLA

### Step 5.  What is the type of structure of df ?

In [ ]:
# 'pandas.core.panel.Panel'

### Step 6. Print all the Items axis values
#### To learn more about the Panel structure go to [documentation](http://pandas.pydata.org/pandas-docs/stable/dsintro.html#panel)

In [14]:
df.items

Index([u'Open', u'High', u'Low', u'Close', u'Volume'], dtype='object')

### Step 7. Good, now we know  the data avaiable. Create a dataFrame called vol, with the Volume values.

In [15]:
vol = df['Volume']
vol.head()

                  AAPL    IBM       LNKD       TSLA
Date
2015-01-02  53204626.0   49.0  1203743.0  4764443.0
2015-01-05  64285491.0    0.0  1400562.0  5368477.0
2015-01-06  65797116.0    0.0  2006546.0  6261936.0
2015-01-07  40105934.0   15.0   985016.0  2968390.0
2015-01-08  59364547.0  540.0  1293955.0  3442509.0

### Step 8. Aggregate the data of Volume to weekly
#### Hint: Be careful to not sum data from the same week of 2015 and other years.

In [16]:
vol['week'] = vol.index.week
vol['year'] = vol.index.year

week = vol.groupby(['week','year']).sum()
week.head()

                  AAPL     IBM       LNKD        TSLA
week year
1    2015   53204626.0    49.0  1203743.0   4764443.0
     2016  343422014.0   250.0  6630485.0  20967926.0
     2017  103845468.0  1215.0        NaN  28576313.0
     2018  101168448.0  4843.0        NaN  23411252.0
2    2015  283252615.0  5025.0  7203125.0  22709607.0

### Step 9. Find all the volume traded in the year of 2015

In [131]:
del vol['week']
vol['year'] = vol.index.year

year = vol.groupby(['year']).sum()
year

              AAPL           IBM         LNKD          TSLA
year
2015  1.301994e+10  1.100959e+09  440376163.0  1.085839e+09
2016  6.081474e+09  6.585250e+08  453233878.0  7.540962e+08

### BONUS: Create your own question and answer it.